<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ticker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {% load static %}
    {% load jchart %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="/static/main/css/style.css" /> -->
  </head>
  <body>
    <div style="height:200px; background:ivory; background-image: url('https://raw.githubusercontent.com/ktlait/drinks-ticker/master/ticker/images/Everleigh%202.jpg'); background-size:cover;">
      <h1 style="font-family:sans-serif; font-size:68px;"> Wolf of Angier Street </h1>
    </div>

    <div class="container">
    <div class="row" id = "ticker_row">
      <div class="col-sm-7">
      {% render_chart 'scatter_line_chart' %}
    </div>
    <div class="col-sm-5" id="commentary">

    </div>
  </div>
  <!--  <div class="ticker-wrap">
      <div class="ticker">
        <div class="ticker__item">Letterpress chambray brunch.</div>
        <div class="ticker__item">Vice mlkshk crucifix beard chillwave meditation hoodie asymmetrical Helvetica.</div>
        <div class="ticker__item">Ugh PBR&B kale chips Echo Park.</div>
        <div class="ticker__item">Gluten-free mumblecore chambray mixtape food truck. </div>
      </div> -->
      <div class="row"><div> </div> </div>
      <div class="row">
      <div id="controller">
        <div id="ticker">
          <div class="text">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Green_equilateral_triangle_point_up.svg">
            <span class="username">Gin & Tonic (G&T) €3.30 </span>
            <span class="extra_info">3m</span>
            <div class="content"> </div>
          </div>
          <div class="text">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Green_equilateral_triangle_point_up.svg">
            <span class="username">Fosters (FTR) €7.50 </span>
            <span class="extra_info">3m</span>
            <div class="content"> </div>
          </div>
          <div class="text">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Red_Triangle.svg/1200px-Red_Triangle.svg.png">
            <span class="username">Vodka Splash (VSH) €3.25 </span>
            <span class="extra_info">3m</span>
            <div class="content"> </div>
          </div>
          <div class="text">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Red_Triangle.svg/1200px-Red_Triangle.svg.png">
            <span class="username">Jaeger Bomb (JGB) €4.00 </span>
            <span class="extra_info">3m</span>
            <div class="content"> </div>
          </div>
          <div class="text">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Green_equilateral_triangle_point_up.svg">
            <span class="username">West Coast Cooler (WCC) €5.00 </span>
            <span class="extra_info">3m</span>
            <div class="content"> </div>
          </div>
          <div class="text">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Green_equilateral_triangle_point_up.svg">
            <span class="username">East Coast Cooler (ECC) €8.00 </span>
            <span class="extra_info">3m</span>
            <div class="content"> </div>
          </div>
          <div class="text">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Green_equilateral_triangle_point_up.svg">
            <span class="username">North Coast Cooler (NCC) €7.00 </span>
            <span class="extra_info">3m</span>
            <div class="content"> </div>
          </div>
        </div>
    </div>

</div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  </body>
</html>
